<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/static/style1.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/navbar.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/1z7Xs3Jk1uazugt0U5w5k7Kf7jjUz0yJf1q8Gp" crossorigin="anonymous" referrerpolicy="no-referrer" >
	<style>
		.wishlisted {
			color: black;
		}
	</style>
</head>

<body>
	<header>
		<nav class="navbar">
			<a class="active" href="/home">Home</a>
			<a href="/about">About</a>
			<a href="/review">Reviews</a>
			<a href="/author">Authors</a>
			<a href="/userdashboard">My dashboard</a>
		</nav>
		<div class="container-1">
			<a class="icon" href="/userdashboard">
				<ion-icon class name="person-circle-outline"></ion-icon>
			</a>
			<div class="dropdown-content">
				<a class="Wishlist" href="/wishlisted">
					<span class="text">Wishlist</span>
					<span><ion-icon name="heart-outline"></ion-icon></span>
				</a>
				<a class="Logout" href="/signin">
					<span class="text">Logout</span>

					<span><ion-icon name="log-out-outline"></ion-icon></span>
				</a>
			</div>
		</div>

	</header>



	<div class="container">
		<div class="book">
			<img src="/static/Images/book1.png" alt="Book 1" data-id="1">
			<div class="book-title">Atomic Habits</div>
			<div class="author">James Clear</div>
			<div class="ISBN">ISBN 13874</div>
			<span><i class="far fa-heart" data-id="1" onclick="addToWishlist(1)"></i></span>
			<a class="rent-book" href="userdashboard/issuebooks">Rent book</a>
		</div>
		<div class="book">
			<img src="/static/Images/book2.png" alt="Book 2" data-id="2">
			<div class="book-title">Harry Potter</div>
			<div class="author">JK Rowling</div>
			<div class="ISBN">ISBN 52462</div>
			<span><i class="far fa-heart" data-id = "2" onclick="addToWishlist(2)"></i></span>
			<a class="rent-book" href="userdashboard/issuebooks">Rent book</a>
		</div>
		<div class="book">
			<img src="/static/Images/book3.png" alt="Book 3" data-id="3">
			<div class="book-title">Stink</div>
			<div class="author">Jenny Mclachlan</div>
			<div class="ISBN">ISBN 23976</div>
			<span><i class="far fa-heart" data-id = "3" onclick="addToWishlist(3)"></i></span>
			<a class="rent-book" href="userdashboard/issuebooks">Rent book</a>

		</div>
		<div class="book">
			<img src="/static/Images/book4.png" alt="Book 4" data-id="4">
			<div class="book-title">The Last Bear</div>
			<div class="author">Hannah Gold</div>
			<div class="ISBN">ISBN 98940</div>
			<span><i class="far fa-heart" data-id = "4" onclick="addToWishlist(4)"></i></span>
			<a class="rent-book" href="userdashboard/issuebooks">Rent book</a>
		</div>

		<div class="book">
			<img src="/static/Images/book5.png" alt="Book 5" data-id="5">
			<div class="book-title">The Silent Patient</div>
			<div class="author">Alex Michaelides</div>
			<div class="ISBN">ISBN 93781</div>
			<span><i class="far fa-heart" data-id = "5" onclick="addToWishlist(5)"></i></span>
			<a class="rent-book" href="userdashboard/issuebooks">Rent book</a>



		</div>
		<div class="book">
			<img src="/static/Images/book6.png" alt="Book 6" data-id="6">
			<div class="book-title">Energize Your Mind</div>
			<div class="author">Gaur Gopal Das</div>
			<div class="ISBN">ISBN 00094</div>
			<span><i class="far fa-heart" data-id = "6" onclick="addToWishlist(6)"></i></span>
			<a class="rent-book" href="userdashboard/issuebooks">Rent book</a>

		</div>
		<div class="book">
			<img src="/static/Images/book7.png" alt="Book 7" data-id="7">
			<div class="book-title">That Night</div>
			<div class="author">Nidhi Upadhyay</div>
			<div class="ISBN">ISBN 11042</div>
			<span><i class="far fa-heart" data-id = "7" onclick="addToWishlist(7)"></i></span>
			<a class="rent-book" href="userdashboard/issuebooks">Rent book</a>

		</div>
		<div class="book">
			<img src="/static/Images/book8.png" alt="Book 8" data-id="8">
			<div class="book-title">It Ends With Us</div>
			<div class="author">Colleen Hoover</div>
			<div class="ISBN">ISBN 59637</div>
			<span><i class="far fa-heart" data-id = "8" onclick="addToWishlist(8)"></i></span>
			<a class="rent-book" href="userdashboard/issuebooks">Rent book</a>

		</div>
		<div class="book">
			<img src="/static/Images/book9.png" alt="Book 9" data-id="9">
			<div class="book-title">Thomas Calculus</div>
			<div class="author">Joel Hass</div>
			<div class="ISBN">ISBN 13662</div>
			<span><i class="far fa-heart" data-id = "9" onclick="addToWishlist(9)"></i></span>
			<a class="rent-book" href="userdashboard/issuebooks">Rent book</a>

		</div>
		<div class="book">
			<img src="/static/Images/book10.png" alt="Book 10" data-id="10">
			<div class="book-title">Multivariable Calculus</div>
			<div class="author">Anthony J. Tromba</div>
			<div class="ISBN">ISBN 96803</div>
			<span><i class="far fa-heart" data-id = "10" onclick="addToWishlist(10)"></i></span>
			<a class="rent-book" href="userdashboard/issuebooks">Rent book</a>

		</div>
		<div class="book">
			<img src="/static/Images/book11.jpg" alt="Book 11" data-id="11">
			<div class="book-title">Ikigai</div>
			<div class="author">Francesc Miralles,<br>Hector Garcia</div>
			<div class="ISBN">ISBN 44785</div>
			<span><i class="far fa-heart" data-id = "11"onclick="addToWishlist(11)"></i></span>
			<a class="rent-book" href="userdashboard/issuebooks">Rent book</a>

		</div>
	</div>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script src="templates/wishlist.js">
	</script>
</body>

</html>
